nav{	
	margin: 0;
	padding: 0;
	text-align: center;
}

#navbar ul{	
    list-style-type: none;
		margin: 0;
    padding: 0;
    overflow: hidden;   
    top: 0;
    width: 100%;
}

#navbar li{
	margin: 0;
	float: right;
	padding: 0;
	display: inline-block;	
}

#navbar a{	
	margin: 0;
	padding: 24px 24px;	
	color: white;
	display: block;	
	text-decoration: none;
	text-align: center;
}

#navbar a:hover{
	background-image: linear-gradient(to top, transparent, black);
	border-bottom: 2px solid black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}