nav{	
	margin: 0;
	padding: 0;
	text-align: center;
}

#navbar ul{	
		list-style-type: none;
		margin: 0;
    padding: 0;
    overflow: hidden;   
    top: 0;
    width: 100%;
}

#navbar li{
	margin: 0;
	float: right;
	padding: 0;
}

#navbar a{	
	margin: 0;
	padding: 50px 40px 20px 40px;	
	color: white;
	display: block;	
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	transition: 0.5s;
}

#navbar a:hover{
	transition: 0.5s;
	font-size: 30px;
	padding: 45px 40px;
	background-image: linear-gradient(to top, transparent, black);
	border-bottom: 2px solid white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}